.search-input {
    border: 1px solid grey;
}

.btn-search {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}
.btn-search:hover {
    background-color: darkred;
    border: 1px solid darkred;
    color: white;
    cursor: pointer
}


.collapse-max-height {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.collapse-big {
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto
}