<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login_page</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="" th:href="@{/source/resources/css/buttons.css}" rel="stylesheet" type="text/css">
  <link href="" th:href="@{/source/resources/css/fragments.css}" rel="stylesheet" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .posLog {
      position: fixed;
      top: 150px;
      left: 100px;
    }
  </style>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<!--<p th:if="${loginError}"> Wrong login or password</p>-->
<!--<p th:if="not${loginError}">Enter login and password</p>-->


<!--<form th:method="post" th:action="@{/speaker/login}">-->
<!--  <div>-->
<!--    <label for="login" style="font-size: 20px">login &nbsp &nbsp &nbsp </label>-->
<!--      <input name="login" type="text" id="login" style="height: 15px"/>-->

<!--      <br>-->

<!--      <label for="password" style="font-size: 20px">password</label>-->
<!--      <input name="password" type="text" id="passw" style="height: 15px"/>-->

<!--      <br>-->

<!--      <input type="submit" class="posLog" value="login" style="width: 60px;"/>-->
<!--  </div>-->
<!--</form>-->



<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse" style="width: 1000px">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input id="userName" type="text" placeholder="username" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input id="password" type="password" placeholder="password" class="input input-bordered" required />
          <label class="label" style="justify-content: right">
            <a th:href="@{/speaker/registration}" class="label-text-alt link link-hover">Registration</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>