<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div th:each="artist : ${artists}">
    <div style="display: inline-block">
        <div class="avatar">
            <div class="rounded-xl w-12 h-12">
                <img th:src="@{/source/foto/artist/1}">
            </div>
        </div>
    </div>
    <div style="display: inline-block">
        <a th:href="@{/show/artist/{id}(id=${artist.getId()})}" th:text="${artist.getPseudonym()}"></a>
    </div>
    <div style="display: inline-block">
        <a th:text="${artist.getAge()}"></a>
    </div>
    <div style="display: inline-block">
        <a th:text="${artist.getCountry()}"></a>
    </div>
</div>

</body>
</html>