<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main_menu</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
<!--  <link rel="stylesheet" href="../../../resources/css/buttons.css" type="text/css">-->
    <link href="" th:href="@{/source/resources/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="" th:href="@{/source/resources/css/fragments.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/source/resources/js/scripts.js}"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


<nav>
    <div th:insert="~{fragments/header :: header}"></div>
</nav>


<a>This is primary menu of <h1>SpeakerWEB</h1>.</a>

<div>
    <a><h2>Tutorial of navbar menu:</h2></a>
    <br>
    &nbsp;
    <div class="table-div">
        <div>
            <div class="text-white div-text" style="display: inline-block;">
                <a><h4>&nbsp;&nbsp;1. SpeakerWEB button &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc rectangle-text" style="font-size: 18px;" th:text="#{menu.button.speakerweb.description}"></pre>
            </div>

            <div class="text-white div-text" style="display: inline-block">
                <a><h4>&nbsp;&nbsp;2. MAIN MENU &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc" th:text="#{menu.button.mainmenu.description}"></pre>
            </div>

            <div class="text-white div-text" style="display: inline-block; margin-left: 10px">
                <a><h4>&nbsp;&nbsp;3. SEARCH &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc" th:text="#{menu.button.search.description}"></pre>
            </div>

            <div class="text-white div-text" style="display: inline-block">
                <a><h4>&nbsp;&nbsp;4. LIBRARY &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc" th:text="#{menu.button.library.description}"></pre>
            </div>
        </div>

        <br>

        <div>
            <div class="text-white div-text" style="display: inline-block">
                <a><h4>&nbsp;&nbsp;5. ARTISTS &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc" th:text="#{menu.button.artists.description}"></pre>
            </div>

            <div class="text-white div-text" style="display: inline-block">
                <a><h4>&nbsp;&nbsp;6. ALBUMS &nbsp;</h4></a>
<!--                <br>-->
                <pre class="pre-desc" th:text="#{menu.button.albums.description}"></pre>
            </div>
        </div>

    </div>
</div>




<div class="footer-ended" th:insert="~{fragments/footer :: footer}"></div>



</body>
</html>