<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="" th:href="@{/source/resources/css/buttons.css}" rel="stylesheet" type="text/css">
    <link href="" th:href="@{/source/resources/css/fragments.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/source/resources/js/scripts.js}"></script>

</head>
<!--<body class="bg-neutral">-->
<body class="bg-base-100">
<!--bg-neutral-focus-->

<div class="text-white navbar bg-base-300" th:fragment="header">
    <div class="flex-1">
        <a th:href="@{/speaker/wellcome}" class="btn btn-ghost normal-case font-mono" style="font-size: 35px">SpeakerWEB</a>
    </div>
    <div class="navbar-center">
        <ul class="menu menu-horizontal">
            <li><button class="font-mono text-lg/[25px]" style="font-size: 17px"
                        th:attr="onclick=|sendData('@{/menu}', ${#authorization.expression('isAuthenticated()')})|"
                        th:text="#{header.mainmenu}">MAIN MENU</button></li>
            <li><button class="font-mono text-lg/[25px]" style="font-size: 17px"
                        th:attr="onclick=|sendData('@{/menu/search}', ${#authorization.expression('isAuthenticated()')})|"
                        th:text="#{header.search}">SEARCH</button></li>
            <li><button class="font-mono text-lg/[25px]" style="font-size: 17px"
                        th:attr="onclick=|sendData('@{/menu/library}', ${#authorization.expression('isAuthenticated()')})|"
                        th:text="#{header.library}">LIBRARY</button></li>
            <li><button class="font-mono text-lg/[25px]" style="font-size: 17px"
                        th:attr="onclick=|sendData('@{/menu/artists}', ${#authorization.expression('isAuthenticated()')})|"
                        th:text="#{header.artists}">ARTISTS</button></li>
            <li><button class="font-mono text-lg/[25px]" style="font-size: 17px"
                        th:attr="onclick=|sendData('@{/menu/albums}', ${#authorization.expression('isAuthenticated()')})|"
                        th:text="#{header.albums}">ALBUMS</button></li>
        </ul>

    </div>
    <div class="navbar-end">

        <ul class="menu menu-horizontal" style="margin-right: 51px">
            <li th:if="${#locale.language.equals('en')}"><a class="font-mono text-lg/[25px]" style="font-size: 17px" th:href="@{?lang=ru}">EN</a></li>
            <li th:if="${#locale.language.equals('ru')}"><a class="font-mono text-lg/[25px]" style="font-size: 17px" th:href="@{?lang=en}">RU</a></li>
        </ul>

<!--        SECOND WAY -->
<!--        <ul class="menu menu-horizontal" style="margin-right: 51px">-->
<!--            <li th:if="${#locale.language.equals('en')}" onclick="changeL('ru')"><a class="font-mono text-lg/[25px]" style="font-size: 17px" >EN</a></li>-->
<!--            <li th:if="${#locale.language.equals('ru')}" onclick="changeL('en')"><a class="font-mono text-lg/[25px]" style="font-size: 17px" >RU</a></li>-->
<!--        </ul>-->

        <ul class="menu menu-horizontal px-1" sec:authorize="isAnonymous()">
            <li> <a class="font-mono text-lg/[13px]" style="font-size: 15px" th:href="@{/speaker/login}" th:text="#{header.singin}"></a></li>
            <li><a class="font-mono text-lg/[13px]" style="font-size: 20px">|</a></li>
            <li><a class="font-mono text-lg/[13px]"style="font-size: 15px" th:href="@{/speaker/registration}" th:text="#{header.registration}"></a></li>
        </ul>

        <ul class="menu menu-horizontal px-1" sec:authorize="isAuthenticated()">
            <li>
                <details>
                    <summary class="font-mono text-lg/[20px]" th:text="${#authentication.getName()}">
                        Parent
                    </summary>
                    <ul class="p-2 bg-base-100">
                        <li><a class="font-mono" style="z-index: 1" th:text="#{header.settings}"
                               th:attr="onclick=|sendData('@{/speaker/settings}', true)|">Settings</a>
                        </li>
                        <li>
<!--                            <button id="logout-button" style="z-index: 1" th:text="#{header.logout}"-->
<!--                                    th:attr="onclick=|sendDataLogoutForm(${#authorization.expression('isAuthenticated()')},-->
<!--                                    ${#authentication.getName()})|"></button>-->
                            <form name="login" style="z-index: 1" id="logout-form"
                                  th:attr="onsubmit=|sendDataLogoutForm(${#authorization.expression('isAuthenticated()')}, ${#authentication.getName()})|"
                                  th:action="@{/speaker/logout}" th:method="POST">
                                <button class="font-mono" type="submit" th:text="#{header.logout}"></button>
                            </form>
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>


</body>
</html>